.core {
  margin: 0;
  background-color: #F5F5F5;
  text-align: center;
}

img{
  border-style: solid;
  border-color: black;
  text-align: center;
  height: auto;
  width: auto;
}

#carousel{
  padding-left: 25%;
  padding-right: 25%;
}

.menu{
  background-color: #3F3838;
  color: #F5F5F5;
  display: flex;
  align-items: center
}

.menu > h1{
  padding: 20px;
}

.category{
  color: #FFFFFF;
  padding: 10px;
  text-decoration: none;
}

.category:hover{
  color: #FFE600;
}

.logo{
  color: #FFFFFF;
  padding: 10px;
  text-decoration: none;
}

.logo:hover{
  color: #FFE600;
}

.login{
  margin-left: auto;
}

.menu > button{
  background-color: #787474;
  color: #ECDCDC;
  margin-left: 5px;
  margin-right: 05px;
  padding: 3px;
  
}



.menu > button:hover{
  color: #FFE600;
}
